// Gradient colors
$gradient-color: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);

// Background colors
$background-color: #040C18;
$background-color-block: #042C54;
$background-color-block-trans: #042c543f;
$background-color-footer: #031B34;
$label-background: #052D56;

// Button colors
$sign-up-btn: #FF4820;
$placeholder-text: #3D6184;

// Text colors
$description-text: #81AFDD;
$secondary-links: #FF8A71;