@import '../../App.css';
@import '../../CSS-Resources/colors.scss';

.nav-container {
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
}

.primary-navigation {
    float: left;
    list-style: none;
    justify-items: center;
    align-items: center;
}

.navbar {
    width: 100%;
    align-items: center;
    flex-grow: 1;
}

.navigation-text {
    text-decoration: none;
    font-weight: 500;
    font-family: Manrope, sans-serif;
    font-size: 1em;
    color: white;
}

.sign-up {
    float: right;
    align-items: center;
    list-style: none;

}

.sign-in-text {
    margin-right: 16px;
}

.sign-up-btn {
    background-color: $sign-up-btn;
    border-radius: 5px;
    padding-block: 1.5em;
    padding-inline: 2em;
    border: none;
    color: white;
}

// @media (max-width: 35em) {
//     .nav-container {
//         position: fixed;
//         inset: 0 0 0 30%;
//         background: steelblue;
//         flex-direction: column;
//     }

//     .primary-navigation {
//         flex-direction: column;
//     }

//     .sign-up {
//         float: left;
//         flex-grow: 1;
//         flex-direction: column;
//     }
// }
