@import '../../CSS-Resources/colors.scss';

.header-container {
    width: 100%;
    flex-direction: column;
    flex-shrink: 1;
}

.header-right {
    flex-direction: column;
    width: 45vw;
}

.text-container {
    margin-block: 1.5em;
    text-align: left;
}

.text-clamp {
    width: 80%;
}

.header-title {
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(1.2em, 5vw, 4em);
    line-height: 1.2em;
    letter-spacing: -4%;
    font-weight: 800;
}

.header-desc {
    color: #81AFDD;
    font-size: clamp(0.5em, 2vw, 1.2em);
    font-weight: 400;
}

.header-left {
    width: 45vw;
    background-image: url('../../images/Face.png');
    background-repeat: round;
    aspect-ratio: 1/1;
}

.face-image {
    width: clamp(400px, 100%, 1200px);
}

.header-start-container {
    flex-wrap: nowrap;
    justify-items: left;
    gap: 0;
    margin-block: 2em;
}

.header-input {
    width: clamp(20em, 30vw, 75em);
    padding: clamp(0.5em, 2vw, 2em);
    background-color: $label-background;
    
}

.header-input::placeholder, .header-input::-webkit-input-placeholder {
    color: $placeholder-text;
    font-size: clamp(0.5em, 2vw, 1.5em);
}

.header-button {
    background-color: $sign-up-btn;
    padding: clamp(0.5em, 2vw, 2em);
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
}

.header-footer-container {
    gap: 0;
    align-items: center;
}

.header-social-icons {
    width: calc(max(40%, 100px));
}

.header-footer-desc {
    font-size: clamp(6px, 1vw, 12px);
}

.header-logos {
    justify-content: center;
}

.logos-container {
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.logo-img {
    width: 6vw;
}

@media (max-width: 1000px) {
    .logo-img {
        width: 8vw;
    }
}