@import '../../CSS-Resources/colors.scss';
@import '../../CSS-Resources/font-sizes.scss';

.header-container {
    width: 100%;
    flex-direction: column;
    flex-shrink: 1;
}

.header-right {
    flex-direction: column;
    width: 45vw;
}

.text-container {
    margin-block: 1.5em;
    text-align: left;
}

.text-clamp {
    width: 80%;
}

.header-title {
    // background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    font-size: $large-title;
    line-height: 1.2em;
    letter-spacing: -4%;
    font-weight: 800;
}

.header-desc {
    color: $description-text;
    font-size: $big-desc;
    font-weight: 400;
}

.header-left {
    width: 45vw;
    background-image: url('../../images/Face.png');
    background-repeat: round;
    aspect-ratio: 1/1;
}

.header-start-container {
    flex-wrap: nowrap;
    justify-items: left;
    gap: 0!important;
    margin-block: 2em;
}

.header-input {
    width: clamp(20em, 23vw, 75em);
    padding: clamp(0.5em, 1.5vw, 2em);
    background-color: $label-background;
    font-size: $input-text;
    font-weight: 400;
    color: white;
}

.header-input::placeholder, .header-input::-webkit-input-placeholder {
    color: $placeholder-text;
    font-size: $input-text;
    font-weight: 400;
}

.header-button {
    width: clamp(10em, 15vw, 15em);
    background-color: $sign-up-btn;
    padding: clamp(0.5em, 2vw, 2em);
    font-size: $input-text;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    font-weight: 700;
}

.header-footer-container {
    gap: 1em;
    align-items: center;
}

.header-social-icons {
    width: calc(max(30%, 100px));
}

.header-footer-desc {
    font-size: $tiny-text;
}

.header-logos {
    justify-content: center;
}

.logos-container {
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.logo-img {
    width: 6vw;
}

@media (max-width: 1000px) {
    .logo-img {
        width: 8vw;
    }
}

@media (min-width: 2000px) {
    .header-left {
        background-repeat: no-repeat;
    }
}