.App {
  text-align: center;
  background-color: #040C18;
  width: 90vw;
  height: 100%;
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 3em;
}

.flex {
  display: flex;
  gap: var(--gap, 3em);
}